/* Google Fonts -----*/
@import url('https://fonts.googleapis.com/css?family=Notable|Roboto+Slab&display=swap');

body {
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
  
}

#main {
      
}

header {
  background: black;
}

#title {
    
}

#img-div {

}

#image {

}

#tribute-info {
  background: black;
}

#qoute {

}

#tribute-link {

}